<div class="parent bg-light-gray p-4">

    <h4> Dashboard </h4>


    <div class="row m-0 my-3">

        <div class="col-md-3 ps-0 ">
            <div class="rounded border-start1 bord d-flex justify-content-between align-items-center bg-white py-2 px-3 shadow">
                <div>
                    <p>Earnings (Monthly)</p>
                    <h6>$40,000</h6>
                </div>

                <div>
                    <i class="fa-solid fa-calendar fs-3"></i>
                </div>
            </div>
        </div>




        <div class="col-md-3 ">
            <div class="rounded border-start2 bord d-flex justify-content-between align-items-center bg-white py-2 px-3 shadow">
                <div>
                    <p>Earnings (Monthly)</p>
                    <h6>$40,000</h6>
                </div>

                <div>
                    <i class="fa-solid fa-calendar fs-3"></i>
                </div>
            </div>
        </div>






        <div class="col-md-3 ">
            <div class="rounded border-start3 bord d-flex justify-content-between align-items-center bg-white py-2 px-3 shadow">
                <div>
                    <p>Earnings (Monthly)</p>
                    <h6>$40,000</h6>
                </div>

                <div>
                    <i class="fa-solid fa-calendar fs-3"></i>
                </div>
            </div>
        </div>





        <div class="col-md-3 pe-0">
            <div class="rounded border-start4 bord d-flex justify-content-between align-items-center bg-white py-2 px-3 shadow">
                <div>
                    <p>Earnings (Monthly)</p>
                    <h6>$40,000</h6>
                </div>

                <div>
                    <i class="fa-solid fa-calendar fs-3"></i>
                </div>
            </div>
        </div>

        


    </div>

</div>