/* You can add global styles to this file, and also import other style files */

body {
    overflow: hidden;
}


.bg-dark-blue {
    background-color: rgb(1, 3, 94);
    color: white;
}

.bg-light-gray{
    background-color: rgb(240, 240, 240);

}