.w-40{
    width: 40%;
}



@media (max-width:768px) {
    .w-40{
        width: 96%;
    }
    .w-50{
        width: 100%!important;
    }
}


@media (min-width:769px) and (max-width:1200px) {
    .w-40{
        width: 60%!important;
    }
    .w-50{
        width: 100%!important;
    }
}