<!-- forgot-password.component.html -->

<div class="parent w-100 vh-100 bg-light-gray d-flex justify-content-center align-items-center">

    <div class="content w-40 bg-white rounded shadow d-flex overflow-hidden">
  
      <!-- Left side: Image -->
      <div class="w-50 bg-light d-flex justify-content-center align-items-center d-none d-md-flex">
        <img src="../../../assets/Animation - 1745861086081.gif" alt="Forgot Password" class="">
      </div>
  
      <!-- Right side: Form -->
      <div class="w-50 p-4 d-flex flex-column justify-content-center">
  
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  
          <h4 class="mb-2 text-center fw-lighter">Forgot Your Password?</h4>
          <p class="text-center small mb-4 fw-lighter">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
  
          <div class="mb-3">
            <!-- <label for="email" class="form-label">Email Address</label> -->
            <input type="email" placeholder="Enter Email Address.." id="email" class="form-control" formControlName="email">
          </div>
  
          <button type="submit" class="btn mainBtn w-100 mb-3">Reset Password</button>
  
          <div class="d-flex flex-column align-items-center">
            <a routerLink="/register" class="small color-for-links-in-auth">Create an account!</a>
            <a routerLink="/login" class="small color-for-links-in-auth">Already have an account? Login!</a>
          </div>
  
        </form>
  
      </div>
  
    </div>
  
  </div>
  